<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{quiz.title}}</title>
  {%if render_mode== "fast"%}
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/stackoverflow-light.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
    integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous" />
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js"
    integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1X7kSx2ATBDIyd"
    crossorigin="anonymous"></script>
  <script>
    let katexConfig = {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "$", right: "$", display: false },
        { left: "\\(", right: "\\)", display: false },
        { left: "\\[", right: "\\]", display: true },
        { left: "\\begin{equation}", right: "\end{equation}", display: true },
        { left: "\\begin{align}", right: "\end{align}", display: true },
      ],
      throwOnError: false,
    };
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js"
    integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"
    onload="renderMathInElement(document.body,katexConfig);"></script>
  {%endif%}
  <style>
    {% include 'style.css' %}
  </style>
  {# For Live reload #}
  <script>
    var ws = new WebSocket( // eslint-disable-line
      'ws://' + window.location.hostname + ':8765/ws/live-server'); // Adjust port if needed

    ws.onopen = e => {
      console.log('Connected to Live Server');
    };

    ws.onmessage = function (msg) {
      console.log(msg.data); // Log the message
      if (msg.data === 'reload') {
        window.location.reload(); // Reload the page on receiving the signal
      }
    };

    ws.onclose = function (e) {
      console.error('Connection to Live Server closed.');
      console.warn('Please restart Live Server and reload this page.');
    };
  </script>
</head>

<body>
  {%filter md%}
  {% include "quiz_template.md.jinja" %}
  {%endfilter%}
</body>

</html>