{% extends "export_templates/base.html.jinja" %}

{% block includes %}
{%include "hljs_includes.html"%}
{%include "katex_includes.html"%}
<style>
    {% include 'default.css' %}
</style>
{% endblock includes %}